html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 82px 12px 82px;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 21px;
}

header a {
  text-decoration: none;
  color: black;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav_item:hover {
  background-color: rgba(255, 70, 70, 0.1);
  color: #FF4646;
  border-radius: 12px;
}

.nav_item {
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  transition: all .5s ease;
}

/* Hero Styles */
.hero {
  background-image: url('../assets/images/HeroSection.png');
  min-height: 524px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

h1 {
  text-align: center;
}

.hero_button {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

.hero_button:hover {
  color: black;
  background-color: white;
}

/* About Styles  */
.about {
  background-image: url('../assets/images/AboutSection.png');
  padding: 60px 82px;
}

.about_container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_content {
  width: 420px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_caption{ 
  color: #ff4646;
}

.about_image {
  height: 528px;
  width: 638px;
}

.about_image img {
  border-radius: 20px;
}

/* Slider Styles */
.slider {
  background-image: url('../assets/images/SliderSection.png');
  padding: 60px 0;
  color: white;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.slider_header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider_row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.slider_text {
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider_buttons {
  display: flex;
  justify-content: end;
  width: 89%;
  gap: 20px;
}
.active_button rect {
  transition: all .5s ease;
  stroke-opacity: 1;
}

.active_button path {
  transition: all .5s ease;
  stroke-opacity: 1;
}

.active_button:hover {
  fill: white;
}

.active_button:hover path {
  stroke: #FF4646;
}

/* Best Styles */
.best {
  background-image: url('../assets/images/BestGiftsSection.png');
  color: white;
  padding: 60px 0;
}

.best_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.best_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.best_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.best_card {
  background-color: #ecf3f8;
  border-radius: 20px;
  color: black;
  height: 342px;
  width: 310px;
  text-align: left;
  transition: all .5s ease;
  cursor: pointer;
}

.best_card_header {
  background-color: white;
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 78px;
}

.best_card .font_h3 {
  transition: color 0.5s ease;
}

.best_card:hover .font_h3 {
  color: #FF4646;
}

.blue {
  color: #4361FF;
}

.green {
  color: #06A44F;
}

.pink {
  color: #FF43F7;
}

/* CTA Styles */
.cta {
  background-image: url('../assets/images/CTASection.png');
  padding-top: 180px;
  padding-bottom: 159px;
  height: 668px;
  box-sizing: border-box;
  color: white;
}

.cta_container {
  width: 426px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 19px;
}

.cta_button {
  padding: 20px 32px;
  border-radius: 20px;
  background-color: #181c29;
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

.cta_button:hover {
  color: black;
  background-color: white;
}

.cta_timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.timer_container {
  width: 344px;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 8px 12px;
}

.timer_cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 80px;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* Footer Styles */
.footer {
  height: 496px;
}

.footer_container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer_card {
  background-color: #ECF3F8;
  width: 417px;
  height: 204px;
  border-radius: 20px;
}

.footer_card a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  gap: 12px;
  transition: all .5s ease;
}

.footer_h3 {
  margin: 0;
}

.footer_card a:hover{
  color: #ff4646;
}

.footer_socials {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.footer_icons {
  display: flex;
  gap: 12px;
}

.footer_icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: stroke .5s ease;
}

.footer_icon svg path {
  transition: stroke .5s ease;
}

.footer_icon:hover svg path {
  stroke: #FF4646;
}

.footer_socials a {
  text-decoration: none;
  color: black;
}

.footer_socials a span {
  transition: all .5s ease;
}

.footer_socials a span:hover {
  color: #ff4646;
}